GOOGLE_API_KEY=<your-key>
GOOGLE_SEARCH_ENGINE_ID=<your-id>

X_BEARER_TOKEN=<your-token>
X_CONSUMER_KEY=<your-key>
X_CONSUMER_KEY_SECRET=<your-key-secret>

X_ACCESS_TOKEN=<your-token>
X_ACCESS_TOKEN_SECRET=<your-token-secret>

X_CLIENT_ID=<your-id>
X_CLIENT_SECRET=<your-secret>

X_USER_ID=<your-id>
X_USER_NAME=<your-name>

BLUESKY_CONSUMER_KEY=<your-key>
BLUESKY_CONSUMER_KEY_SECRET=<your-key-secret>

NASA_API_KEY=<your-key>
